body {font-size:x-large;}
section {display:none; margin-left:auto; margin-right:auto; width:1280px;}
body header {border-bottom: 1px solid green;}

nav {float:right; width:600px; position:relative; top:128px;}
nav ul {text-align:right; list-style:none; margin:0; padding:0;}
nav ul li {display:inline; border: solid; border-width: 1px 1px 0 1px; margin: 0 0.5em 0 0; border-top-left-radius:8px; border-top-right-radius:8px;}
nav ul li a {padding: 0 1em; text-decoration:none;}
nav ul li.selected {padding-bottom: 1px; background: white;}

#splash {display:block; padding-top:10px;}
#idea {float:left; width:600px; padding-top:8px;}
#jar {float:right; width:600px;}

